#dashboard-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "dash"
                          "frame";
    height: 100vh;

}

@media (max-width: 650px) {
    #dashboard-view {
        grid-template-rows: 175px 1fr; 
        grid-template-areas: "dash"
                            "frame";   
    }
}

/**************Frame Component Styling***************/
.frame {
    grid-area: frame;
    width: 40%;
    height: 99.9%;
    margin-left: auto;
    margin-right: auto;

}

textarea {
    width: 99.8%;
    height: 99.8%;
    resize: none;
    border: none;
    outline: none; 
}
@media (max-width: 800px) {
    .frame {
        width: 70%;
    }
}


@media (max-width: 650px) {
    .frame {
        width: 80%;
    }
}

.modalCloseButton {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

.modalCloseButton i:hover {
    color: gray;
}

.modalOverlayZIndex {
    z-index: 100;
}

.button-link {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    color: #337AB7; 
}
.button-link:hover {
    /* color: blue; */
    text-decoration:underline;
} 