#dashboard-view {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "dash"
                          "frame";
    height: 100vh;

}

@media (max-width: 650px) {

    nav {
        height: 210px;
    }
    #dashboard-view {
        grid-template-rows: 210px 1fr; 
        grid-template-areas: "dash"
                            "frame";
          
    }
}

/**************Frame Component Styling***************/
.frame {
    grid-area: frame;
    width: 40%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

textarea {
    width: 99.8%;
    height: 99.8%;
    resize: none;
    border: none;
    outline: none; 
}
@media (max-width: 800px) {
    .frame {
        width: 70%;
    }
}


@media (max-width: 650px) {
    .frame {
        width: 80%;
    }
}



.button-link {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    color: #337AB7; 
}
.button-link:hover {
    /* color: blue; */
    text-decoration:underline;
} 

/******************Info Modal Styling******************/

.modalCloseButton {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

.modalCloseButton i:hover {
    color: gray;
}

.modalOverlayZIndex {
    z-index: 100;
}

.info-modal-div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 800px) {
    .info-modal-div {
        width: 80%;
    }
}

@media (max-width: 650px) {
    .info-modal-div {
        width: 100%;
    }
}

/**********Loading Screen Component Styling***********/
.loading-screen-div{
    background: inherit;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
}
 .loading-screen-div:before {
    content:'';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.loading-screen-div i {
    display:inline-block;
    vertical-align: middle;
} 