@import url('./globals.css');


body {
    font-family: 'Roboto', sans-serif;
}

#navbar-id {
    color: white;
}

.svg-image {
    max-width: 100%;
    height: inherit;
}

.section-margin {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 100px;
}

.row-margin {
    margin-top: 50px;
}

#brand-id {
    color: white;
}  

.transparent {
    background-color: transparent;
    border: transparent;
}

.white-text {
    color: white !important;
}

.cream {
    background-color: #fcf8e3;
    border: #fcf8e3;
}

.grey {
    background-color: grey;
    border: grey;
}

.grey-text {
    color: grey !important;
}

.margin-left-14 {
    margin-left: 14px;
}


