@import url('./globals.css');

html {
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 0;
}

#root {
    padding: 0 0 0 0;
    width: 100%;
}

.no-padding {
    padding: 0 0 0 0;
}

.content-box {
    box-sizing: content-box !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

#navbar-id {
    color: #FFFF;
}

.svg-image {
    max-width: 100%;
    height: inherit;
}

.section-margin {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 100px;
}

.row-margin {
    margin-top: 50px;
}

#brand-id {
    color: #FFFF;
}  

.transparent {
    background-color: transparent;
    border: transparent;
}

.white-text {
    color: #FFFFFF !important;
}

.cream {
    background-color: #fcf8e3;
    border: #fcf8e3;
}

.grey {
    background-color: #B0A0AC !important;
    border: #B0A0AC;
}

.grey-text {
    color: #B0A0AC !important;
}

.margin-left-14 {
    margin-left: 14px;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

#hamburger-button:hover {
    background-color: #000000 !important;
}
