
/* css grid layout */

#main-view {
    display: flex;
    flex-direction: column;
    height:100%;
    flex: 1 0 auto;
}

.no-padding {
    padding: 0 0 0 0;
}

.content-box {
    box-sizing: content-box !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

#navbar-id {
    color: #FFFF;
}

.feature-image {
    max-width: 40vw;
    height: inherit;
}

.feature-content {
    max-width: 40vw;
}


.row-margin {
    margin-top: 50px;
}

#brand-id {
    color: #FFFF;
}  


.margin-left-14 {
    margin-left: 14px;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-shadow: 1px 1px 1px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

#hamburger-button:hover {
    background-color: #000000 !important;
}

.highlighted-text{
    color: black;
    padding-right: 3px;
    padding-left: 3px;
}

/* Media queries for making sure the header text works */

@media (max-width: 700px) {
    #header-text {
      margin-left:20vw !important;
    }
}
@media (min-width: 900px) {
    #header-text {
      font-size: 3rem !important;
    }
}
@media (max-width: 400px) {
    #header-text {
      font-size: 1.5rem !important;
    }
}

/* feature component styling */

.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 500px) {
    .feature {
        flex-direction: column;
        justify-content: center;
    }
    .feature-image {
        max-width: 80vw;
        height: inherit;
    }
    
    .feature-content {
        max-width: 80vw;
    }
}